<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/header.ejs") %>
  
  <main>
    <h2>Blog Details</h2>
    
    <div class="blog-detail flex-center">
      <h2 class="blog-title">
        <%= blog.title %>
      </h2>
      <div class="blog-content">
        <%= blog.body %>
      </div>
      <div class="btn-container flex-center">
        <a class="edit-btn btn flex-center" href="/blogs/edit/<%= blog._id %>">EDIT</a>
        
        <button class="delete-btn btn" data-blog-id="<%= blog._id %>">DELETE</button>
      </div>
    </div>
  </main>

  <%- include("./partials/footer.ejs") %>

  <script>
    const delBtn = document.querySelector(".delete-btn");

    delBtn.addEventListener("click", (e) => {
      const endpoint = `/blogs/${delBtn.dataset.blogId}`;

      fetch(endpoint, {
        method: "DELETE"
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(console.log);
    });
  </script>
</body>
</html>